<br><br>
<p-card header="About project" >
  This site is putting some idea in the move.
  <b> Lawyers needs AI search engines and BERT can be a good start to
    test state of art of machine learning in finding proper information. </b>
  I am aiming to test other approaches (like other transformer architectures),
  and fine-tune it, in order to prepare an ultimate benchmark of AI solutions
  for legaltech, so stay tuned and follow me at
  <a href="https://www.linkedin.com/in/artur-tanona/">LinkedIn</a>,
  <a href="https://twitter.com/ArturTanona/">Twitter</a> and on blog at <a href="https://www.intelilex.net">inteliLex</a>
</p-card>
