.filter-container {
  text-align: center;
  width:100%;
}

.hit-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  border-bottom: 1px solid #d9dad9;
}

.hit-details > div {
  display: flex;
  align-items: center;
}

.hit-details > div img {
  margin-right: 14px;
}

.hit-detail {
  padding: 0 1em 1em 1em;
  border-bottom: 1px solid #d9dad9;
  margin: 1em;
}

.ui-panel-content {
  padding: 1em;
}

.dark-theme :host ::ng-deep .hit-details,
.dark-theme :host ::ng-deep .hit-detail {
  border-bottom: 1px solid #191919;
}

@media (max-width: 1024px) {
  .hit-details img {
        width: 75px;
  }

  .filter-container {
      text-align: left;
  }
}



body .ui-dataview .ui-dataview-content  {
  padding: 0.571em 1em;
  border: 1px solid #c8c8c8;
  background-color: #ffffff;
  color: #333333;
  padding: 0.571em 1em;
  height: 100%;
}