<br />
<br />
<p-accordion>
  <p-accordionTab header="How does it work?">
    <br />
    <b> How it works? </b>
    <ol>
      <li>You need to write a phrase / sentence</li>
      <li>Click Enter</li>
      <li>You get the most similar sentence (the lower score, the better)</li>
    </ol>
  </p-accordionTab>
  <p-accordionTab header="Why only 113 judgments?">
    This is a demo version, you can check the main idea. The full working code,
    where you can upload more documents, is in the github repository of this
    project. Hope that instructions are clear. Ofc please contact me directly on
    artur.tanona@gmail.com if you have any questions, ideas or doubts.
  </p-accordionTab>
  <p-accordionTab header="What is BERT?">
    It's a "Bidirectional Encoder Representations from Transformers". It's a
    technique for NLP (Natural Language Processing) pre-training development.
    Generally speaking, it enables to maintain some level of language
    understanding that can be useful in more domain (specific) applications,
    like searching better text against your query.
  </p-accordionTab>
  <p-accordionTab header="Why it looks like it looks?">
    I am Machine Learning engineer who is mostly responsible for backend
    services. Here you can see my beginner's level Angular skills. "Not great,
    not terrible".
  </p-accordionTab>
</p-accordion>
